:root {
  --header-bg-color: rgb(51, 51, 51);
  --main-bg-color: rgb(254, 247, 229);
  --reminder-bg-color: orange;
  --text-color: white;
}

.header {
  background-color: var(--header-bg-color);
  padding: 20px;
  text-align: center;
  height: 250px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header strong {
  font-weight: bold;
}

.reminder-message {
  background-color: var(--reminder-bg-color);
  margin: 55px auto 0 auto;
  padding: 20px;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border-radius: 10px;
}

.reminder-message p {
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.main-content {
  background-color: var(--main-bg-color);
  min-height: 750px;
  width: 100%;
}

.reminders-header, .icons-container {
  margin-left: 20px;
  margin-top: 10px;
}

.icons-container {
  display: flex;
  gap: 20px;
}

.icon-item {
  text-align: center;
}

.icon-name {
  margin-top: 10px;
}